In [ ]:
import pandas as pd

In [ ]:
# Read CSV of countries/ regions that 'sent' adoptees to other countries from 1953 to 2013, removing index column 
sending_df = pd.read_csv("IA_origin_countries_1953_2016_final.csv", index_col=0)
sending_df.head()

In [ ]:
# Fill null values with zero 
sending_df0 = sending_df.fillna(value=0)
sending_df0.head()

In [ ]:
# Remove the name of the index column
#sending_df0.index.name = None
#sending_df0.tail()

In [5]:
# Transpose the axes so that the data 
sending_df0_T = sending_df0.transpose()
sending_df0_T.head()

year,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
China,0,0,0,0,0,0,0,0,0,0,...,"5,453","3,912","3,000","3,401","2,587","2,697","2,306","2,040","2,354","2,231"
Russia,0,0,0,0,0,0,0,0,0,0,...,"2,303","1,857","1,586","1,079",962,748,250,2,0,0
Guatemala,0,0,0,0,0,0,0,0,0,0,...,"4,726","4,112",754,50,32,7,23,29,13,2
South Korea,4,8,59,668,485,922,737,627,655,244,...,938,"1,064","1,079",865,736,627,138,370,318,260
Ethiopia,0,0,0,0,0,0,0,0,0,0,...,"1,254","1,723","2,275","2,511","1,732","1,568",993,716,335,183

In [8]:
sending_df0_T.columns

Int64Index([1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963,
            1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974,
            1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985,
            1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
            1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
            2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
           dtype='int64', name='year')

In [6]:
# Read CSV of countries/ regions that 'sent' adoptees to other countries from 2004-2016, removing the index
#sending_df2 = pd.read_csv("IA_origin_countries_2004_2016_final.csv", index_col=0)
#sending_df2.head()

In [7]:
sending_df0_T['Total'] = sending_df0_T.drop('year', axis=1).sum(axis=1)
sending_df0_T

ValueError: labels ['year'] not contained in axis

In [ ]:
# Transpose the axes so that data can be merged
#sending_df2_T = sending_df2.transpose()
#sending_df2_T

In [ ]:
# Export clean dfs as csvs
#sending_df2_T.to_csv('clean_origin_2004_2016.csv')

In [ ]:
# Export clean dfs as csvs
#sending_df0_T.to_csv('newer_clean_origin_1953_2016.csv')

In [ ]:
# Read CSV of countries/ regions that 'sent' adoptees to other countries from 1953 to 2013, removing index column 
#contraceptive_df = pd.read_csv("clean_contraceptive_unmet_need_UN.csv", index_col=0)
#contraceptive_df.head()